*{margin-right: auto;
	margin-left: auto;}
	body{
		background: black;
		text-align: left;
	}
	h1{
		margin-top: 0px;

	}
	img#image{
		position: absolute;
		left: 500px;
	}
	th{
		width: 300px;
	}
	.annexe{
		color: white;
	}
	.diplome{
		color: white;
	}